body {
  background-color: #fafafa;
  background: url("../public/assests/blackgrit.png");
  background-size: 50%;
}

.grainy {
  background: url("../public/assests/grains.png");
  background-color: #F0F3BD;
}

.header {
  background: url("../public/assests/grains.png");
}
